<div>
          <!--<table>
        <tr><td>Issue:</td><td><div style="border-style: solid; padding: 20px; margin: 20px; max-width: 700px; background: white; color: black; ">{{x.ProblemDesc}}</div></td>
            <td>Solution:</td><td><div style="border-style: solid; padding: 20px; margin: 20px; max-width: 700px; background: white; color: black; ">{{x.Resolution}}</div></td>
</tr>
        </table>-->
    <div class="col-md-2 hidden-xs hidden-sm"></div>
        <div class="col-md-8 col-xs-12">
            <h1>{{x.title}}:</h1> <a ng-if="x.show" href="http://localhost/epl/eventkeeper/schedule.html#/?id={{x.id}}">Use as template</a>
<table class="table table-striped" style="outline: 1px solid black;margin-top: 20px;">
        <!--<tr>
            <td><h1>{{x.title}}:</h1><a ng-if="x.show" href="http://localhost/epl/eventkeeper/schedule.html#/?id={{x.id}}">Use as template</a></td><td></td>
        </tr>-->
        <tr>
            <td ng-if="Show3 == 1"><a href="#event/{{x.id}}/Registration/">Click here to register</a></td><td ng-if="Show4"><a href="#event/{{x.id}}/Attending">Check registration list</a></td><td ng-if="!Show4"></td>
        </tr>
        <tr>
            <td>Contact Name: {{x.ContName}}</td><td>Contact Mail: {{x.ContMail}}</td>
        </tr>
        <tr>
            <td>Contact Phone: {{x.ePhone}} </td><td>Max Attendance: {{x.AttendCap}}</td>
        </tr>
        <tr>
            <td>Expected Attendance: {{x.Attendance}} </td><td>Registered: {{x.AttendCount}}</td>
        </tr>
        <tr>
            <td>Start time: {{x.fstart}}</td><td>End time: {{x.fend}}</td>
        </tr>
        <tr ng-if="Show4">
            <td>Preparation: {{x.fprep}}</td><td>Cleanup : {{x.ftear}}</td>
        </tr>
        <tr>
            <td>Room/Location: </td><td>{{x.RoomName}}</td>
        </tr>
        <tr>
            <td>All Day?: </td><td>{{x.allDay}}</td>
        </tr>
        <tr>
            <td>Description: </td><td>{{x.eDescription}}</td>
        </tr>
        <tr ng-if="Show1">
            <td><b>Repeating times:</b></td><td></td>
        </tr>
        <tr ng-repeat="T in T" ng-if="Show1">
            <td>Start: {{T.fstart}}</td><td>End: {{T.fend}}</td>
        </tr>
        <tr ng-if="Show2">
            <td>Equipment:</td><td>{{x.Equipment}}</td>
        </tr>
        <tr ng-if="Show2">
            <td>Chairs:</td><td>{{x.Chairs}}</td>
        </tr>
        <tr ng-if="Show4">
            <td>Comment:</td><td>{{x.Comment}}</td>
        </tr>
        <tr ng-if="Show4">
            <td><input type="submit" data-toggle="modal" data-target="#myModal" value="Cancel Event" id="send"/></td><!--ng-model="UpdReg.updRem"--><td></td>
        </tr>
        </table>

    </div>
    
    <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Are you sure?</h4>
      </div>
      <div class="modal-body">
        
        <div class="col-xs-3"></div><div class="col-xs-3"><button type="button" ng-click="deleteEvent(x.id);" class="btn btn-default">Yes</button></div><div class="col-xs-3"><button type="button" class="btn btn-default" data-dismiss="modal">No</button></div>
      </div>
      <div class="modal-footer" style="margin-top: 50px;">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


